* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: rgb(223, 211, 211);
}

.entete {
    display: flex;
    position: fixed;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    background: linear-gradient(to right, #6c99c7d2, #dd2b13d2);
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

.logo img {
    width: 180px;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu a {
    color: aqua;
    font-weight: bolder;
    font-size: large;
    text-decoration: none;
}

.menu ul :hover a {
    color: yellow;
    font-size: 20px;
    transition: 0.6s ease-in-out;
    -webkit-transition: 0.6s ease-in-out;
    -moz-transition: 0.6s ease-in-out;
    -ms-transition: 0.6s ease-in-out;
    -o-transition: 0.6s ease-in-out;
}

.menu li {
    display: inline-block;
    margin: 0 30px 0px 0px;
    font-weight: bold;
    padding: 0px;
}

.entete div {
    margin: 0px 70px;
}

.porfolio {
    width: 800px;
    height: 400px;
    background: url(../porfolio/image1.jpg);
    background-repeat: no-repeat;
    margin: 30px 80px 0px 80px;
    animation: porfolio 15s infinite;
    -webkit-animation: porfolio 15s infinite;
}

@keyframes porfolio {
    25% {
        background: url(../porfolio/image2.jpg);
        background-repeat: no-repeat;
    }
    50% {
        background: url(../porfolio/image3.jpg);
        background-repeat: no-repeat;
    }
    75% {
        background: url(../porfolio/image4.jpg);
        background-repeat: no-repeat;
    }
}

.accueil {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-image: url("../imgAccueil/bkg2.jpg");
    background-size: cover;
    color: rgba(255, 255, 255);
    animation: accueil 15s infinite;
    -webkit-animation: accueil 10s infinite;
    background-size: cover;
}

@keyframes accueil {
    20% {
        background: url(../imgAccueil/bkg1.jpg);
        background-size: cover;
    }
    40% {
        background: url(../imgAccueil/bkg3.jpg);
        background-size: cover;
    }
    60% {
        background: url(../imgAccueil/bkg4.jpg);
        background-size: cover;
    }
    80% {
        background: url(../imgAccueil/bkg5.jpg);
        background-size: cover;
    }
}

.accueil h1 {
    font-size: 50px;
    text-align: center;
}

.accueil p {
    font-size: 20px;
    text-align: center;
}

[class*="reveal-"] {
    opacity: 0;
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
}

.reveal-visible {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transition: 1s cubic-bezier(.1, 0, 0, 1);
    -webkit-transition: 1s cubic-bezier(.1, 0, 0, 1);
    -moz-transition: 1s cubic-bezier(.1, 0, 0, 1);
    -ms-transition: 1s cubic-bezier(.1, 0, 0, 1);
    -o-transition: 1s cubic-bezier(.1, 0, 0, 1);
}

.reveal-2 {
    transition-delay: .2s;
}

.reveal-3 {
    transition-delay: .4s;
}

.reveal-4 {
    transition-delay: .6s;
}

.container {
    width: 800px;
    margin: auto;
    background-color: rgb(248, 242, 242);
    box-shadow: #00000a 0px 1px 10px;
    padding: 70px;
}

.container section .contenu {
    padding-right: 20px;
}

.contenu p {
    font-size: 15px;
    text-align: justify;
    margin-bottom: 20px;
    color: #3b3b3c;
    line-height: 30px;
}

.contenu h1 {
    font-size: 30px;
    color: #3a3a3c;
    margin-bottom: 20px;
    font-family: 'Maiandra GD', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.profil img {
    width: 100px;
    margin-bottom: 30px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    box-shadow: black -1px 5px 20px;
}

.profil {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.profil div {
    display: flex;
    width: 20%;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;
    border-radius: 100px;
    padding: 10px;
    padding-bottom: 70px;
    background-color: white
}

.profil span {
    font-weight: bold;
}

.profil p {
    font-weight: lighter;
    color: rgb(120, 116, 114);
}

.contact img {
    width: 20px;
}

.maps {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 0px;
    width: 800px
}

.contact p {
    margin-top: 15px;
}

@media screen and (max-width:800px) {}

@media screen and (max-width:600px) {}

@media screen and (max-width:500px) {}

@media screen and (max-width:400px) {}